* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

#forecast-header {
    background-color: rgb(44, 76, 255);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: flex-start;
}

.city-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.city-card {
    background-color: #f0f0f0; 
    padding: 15px;
    margin-bottom: 10px;
}


#city-name {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: right;
    border: 1px solid black;
    padding: 50px;
    height: 350px;
    width: 900px;
}

.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    padding: 100px;
    height: 60px;
    width: 60px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
}

#five-day {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}