* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

#forecast-header {
    background-color: rgb(44, 76, 255);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

