* {
    box-sizing: border-box;
    padding: 0;
    /* margin: 5px; */
}

#forecast-header {
    background-color: rgb(30, 51, 168);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

/* City Cards */
.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.city-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(136, 7, 7);
}

h4 {
    text-align-last: center;
    
}

/* Search Box */
    #navBarSearchForm {
        width: 12%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
    }

    /* Search Button */
    .button-container {
        display: flex;
        margin-top: 10px;
        width: fit-content;
    }

    #search-btn {
        background-color: rgb(30, 51, 168);
        color: aliceblue;
        width: 230px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

.city-card {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    color: rgb(97, 166, 226);
    text-align: center;
    border-radius: 5px; 
}

.city-card:hover {
    background-color: #364a69;
}

/* Main Weather Card */
#large-weather-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: right;
    border: 1px solid black;
    padding: 50px;
    height: 300px;
    width: 1000px;
    margin-right: 130px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor:e-resize;
    margin-bottom: -100px;
}

#large-weather-card:hover {
    background-color: grey;
    color: aliceblue;
}

/* 5 Day Weather Cards */
.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    padding: 100px;
    height: 60px;
    width: 60px;
    margin: 15px;
    background-color: #133544;
    color: aliceblue;
}

.weather-card ul {
    list-style: none;
}

.weather-card li {
    white-space: nowrap;
    text-align: left;
}

.weather-card li:first-child {
    font-weight: bold;
    font-size: 18px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
}

#five-day {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hidden {
    display: none;
}